/* for v1 => 2 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  background-color: #333;
  height: 12vh;
  display: flex;
}
.grid {
  padding: 2rem;
  background-color: #f2f2f2;
  min-height: 88vh;
}

.filter-container,
.add-delete-container {
  margin-top: 2.1vh;
  margin-left: 8vw;
  border-radius: 3px;
  height: 7.8vh;
  display: flex;
  background-color: #444;
}

.filter-container {
  width: 18vw;
}

.add-delete-container {
  width: 9vw;
}

.filter .add,
.delete {
  height: 100%;
}
.filter {
  width: 25%;
}

.add,
.delete {
  width: 50%;
}

.pink-color-btn,
.blue-color-btn,
.black-color-btn,
.green-color-btn {
  border-radius: 3px;
  display: block;
  width: 34%;
  height: 34%;
  margin-left: 33%;
  margin-top: 33%;
}

.green-color-btn {
  background-color: #91e6c7;
}

.pink-color-btn {
  background-color: #d595aa;
}

.blue-color-btn {
  background-color: #5ecdde;
}

.black-color-btn {
  background-color: #2f2f2f;
}

.action-btn {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ffffff;
  padding-top: 0.7rem;
  font-size: 2rem;
}

.filter:hover,
.add-delete-container .action-btn:hover {
  background-color: #393939;
}
.active {
  background-color: #393939;
}